* {margin:0;padding:0;outline:0;font-family:Arial,Helvetica,sans-serif;}

#pageheader {
    background: url(../img/headerbg.png) top left repeat-x;
    height: 109px;
}

#header {
    height: 109px;
    margin-left: 85px;
}

#logo {
    display: block;
    width: 150px;
    height: 65px;
    margin: 22px 0 0 0;
    text-indent: -9999px;
    background: url(../img/logo.png) top left no-repeat;
    float: left;
    color: white;
    font-size: 60px;
    text-decoration: none;
}
#logo span { color: #ffd700; font-size: 30px;vertical-align: top;}

#slogan {
    margin: 33px 0 0 10px;
    float: left;
    color: white;
    font-size: 24px;
}

#login {
    margin-top: 32px;
    margin-right: 20px;
    float: right;
}

.login_input {
    border:none;
    background:white;
    color:black;
    width:103px;
    height:23px;
    line-height:23px;
    float:left;
}

#login input[type=text] {margin-right:2px;}
#login input[type=password] {}
#login input.blur {color:#999;}

#login_submit {
    font-size:11px;
    border:none;
    background:#256aa3;
    height: 23px;
    line-height:23px;
    color:white;
    width:65px;
    cursor:pointer;
}

#login input[type=submit]:hover { background:#175487; }

#login {
    font-size:11px;
}

#login a {
    color: white;
}

#reset_pw {
    display:inline;
    font-size:11px;
    background:#256aa3;
    color:white;
    cursor:pointer;
    width:103px;
    line-height: 15px;
    margin-top:2px;
    border:0;
    padding:0;
}

#register {
    display:inline-block;
    width:103px;
    background:#256aa3;
    text-align:center;
    margin-left:-1px;
    line-height:15px;
}

#register a {
    text-decoration:none;
    padding-left: 30px;
    padding-right: 30px;
}

#register:hover {
    background:#175487;
}

#logout {
    height: 23px;
    line-height:23px;
}

#logout a {
    text-decoration:none;
}

#logout span {
    float:left;
}

#logout_button {
    width: 65px;
    background:#256aa3;
    float:right;
    text-align:center;
    margin-left:15px;
}

#logout_button:hover {
    background:#175487;
}

.buttonbar {
    margin-left: -12px;
    padding-left: 85px;
    height: 36px;
    background: #256aa3;
}

.buttonbar ul {
    list-style: none; list-style-position: outside;
}

.buttonbar ul li {
    float: left;
    line-height: 36px;
}

.buttonbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 0 12px;
}

.buttonbar ul li:hover {
    background: #175487;
}

#search {
    float: right;
    margin-top: 7px;
    margin-right: 20px;
}

#search input[type=text] {border:none;background:white;color:black;width:208px;height: 23px;line-height:23px;float:left;}
#search input[type=submit] {border:none;background:#175487;width: 65px; height: 23px;line-height:23px;color:white;cursor:pointer;}
#search input[type=submit]:hover { background: #256aa3 ; }

#paginator {
    color: #333;
    background: #eee;
    margin-top:20px;
}

#paginator span {
    display:inline-block;
    font-style:oblique;
    margin-right:12px;
}

#content {
    padding-top:15px;
    padding-left:85px;
    padding-right:85px;
    background: url(../img/contentbg.png) top left repeat-x transparent;
    font-size: 15px;
    line-height: 22px;
}

#content h1 {
    padding: 30px 0 20px 0;
    font-size: 30px;
    font-weight: normal;
    color: #256aa3;
}

#content h2 {
    padding: 20px 0 10px 0;
    font-size: 26px;
    font-weight: normal;
    font-style: oblique;
    color: #256aa3;
}

#content li {
    margin-left: 40px;
}

#content .code {
    background: #F7FBFD;
}

#content p {
    padding-top: 15px;
}

.internal { text-decoration: none; color: #0645ad; }
#content a.internal { text-decoration: none; color: #0645ad; }
#content a { color: #0000ee; }
#content a:visited { color:#1c0080; }
#content a.new { color: #BA0000; text-decoration: none; }
#content a.category { color:#6c6591; text-decoration: none; }
#content a.hyperspec { color: #4040f2;}
#content a.download { color: #00E; font-weight: bold; }

#content input[type=text], textarea { border:1px solid #a4a4a4; }
#content textarea { width:100%; }

#article table {
    background: #F7FBFD;
    border: 1px solid #AACC99;
}

#article th {
    background:#cfe7fb;
}

#article td {
    background: #ecf4f8;
}

#categories {
    margin-top: 20px;
    margin-bottom:-20px;
}

#footer {
    margin-top: 20px;
}

pre, pre *, code, .code, .code * { font-family: monospace; }

#pagehistory {
    background:none;
    border:0;
}

#pagehistory td {
    background:none;
    padding-right: 0.5em;
}

#pagehistory tr { line-height: 19pt; }

#pagehistory a { text-decoration:none; }

table.diff { border: none; border-spacing: 3px; table-layout: fixed; width:100%; }
table.diff a { text-decoration: none; }
table.diff col.diff-content { width: 48%; }
td.diff-marker {font-size: smaller; text-align: right;}
td.diff-line-number { font-weight: bold; }
td.diff-context { font-size: smaller;}
td.diff-deleteline { font-size: smaller;}
td.diff-addline { font-size: smaller;}

.regin {
    border:1px solid #a4a4a4;
    margin-bottom:6px;
}

.prefs dt {
    display:inline-block;
    clear:both;
    float:left;
}

#registration dd {
    margin-left:6em;
}

#changemail dd {
    margin-left:10em;
}

.prefs input {
    vertical-align:bottom;
}

.error-info {
    color:red;
}

.del {
    border:0;
    margin:0;
    background:none;
    font-size:16px;
    color:white;
    padding: 0 12px;
    height: 35px;
}

.del:hover {
    cursor:pointer;
}

.undo {
    border:0;
    background:none;
    color:#0645AD;
    font-size:15px;
}

.undo:hover {
    cursor:pointer;
}

table.diff .undo {
    font-weight:bold;
}

.centered {
    text-align:center;
    font-weight:bold;
}

.hidden {
    display:none;
}